<!-- Start Filter -->
<div class="w-hidden-tiny w-clearfix div-social">
  <div class="filters">
    <ul class="w-list-unstyled filter-list">
      <li class="filter-iterm"><a class="filter active" href="#filter" data-filter="*">Vše</a></li>
      <li class="filter-iterm"><a href="#filter" class="filter" data-filter=".illustration">Ilustrace</a></li>
      <li class="filter-iterm"><a href="#filter" class="filter" data-filter=".logotype">Logo</a></li>
      <li class="filter-iterm"><a href="#filter" class="filter" data-filter=".motion">Motion</a></li>
      <li class="filter-iterm"><a href="#filter" class="filter" data-filter=".print">Tisk</a></li>
      <li class="filter-iterm"> <a class="w-inline-block filter filter-star" href="#" data-filter=".star"><i class="fa fa-star fa-2x"></i></a></li>
    </ul>
  </div>
</div>
<!-- End Filter -->
