<div class="w-hidden-tiny w-clearfix div-social">
  <div class="filters">
    <ul class="w-list-unstyled filter-list">
      <li class="filter-iterm"><a class="filter active" href="#filter" data-filter="*">Vše</a></li>
      {% for filter in site.data.filter.filters %}
        <li class="filter-iterm"><a href="#filter" class="filter" data-filter=".{{ filter.filter }}">{{ filter.text }}</a></li>
      {% endfor %}
      {% if site.data.filter.filter_star %}
        <li class="filter-iterm"> <a class="w-inline-block filter filter-star" href="#" data-filter=".star"><i class="fa fa-star fa-2x"></i></a></li>
      {% endif %}
    </ul>
  </div>
</div>
