<!-- start navigation -->
<div class="w-hidden-medium w-hidden-small w-hidden-tiny left-navigation" data-ix="hover-out">
  <div class="hamburger" data-ix="hover">
    <div class="ham2">
      <div class="line-1"></div>
      <div class="line-3" data-ix="90-grade"></div>
      <!-- plus to x interaction -->
    </div>
  </div>
  <nav class="menu-wrapper">

    <a class="w-inline-block brand" href="{{site.data.global.url}}" data-ix="move">
      <img src="{{site.baseurl}}/assets/images/logo.png" width="120" alt="">
    </a>

    <div class="navigation" data-ix="move-2">
      <div class="navigation">
        <ul id="menu-sidebar-nav" class="nav navbar-nav navbar-right w-list-unstyled">
          {% for item in site.data.nav.menu %}
            <li class="menu-item menu-item-type-post_type menu-item-object-page li-nav page-scroll">
              <a class="nav-link" href="{{item.url}}">{{item.text}}</a>
              <div class="sub-nav">{{item.subtext}}</div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>


    <div class="social-ico" data-ix="move" style="display:block">
      <a class="w-inline-block social" href="http://pinterset.com/" title="Follow On Pinterest" target="_blank"> <i class="fa  fa-pinterest-square fa-2x"></i></a>
      <a class="w-inline-block social" href="https://twitter.com/" title="Follow On Twitter" target="_blank"> <i class="fa  fa-twitter-square fa-2x"></i></a>
      <a class="w-inline-block social" href="https://plus.google.com/" title="Follow On Google Plus" target="_blank"> <i class="fa  fa-google-plus-square fa-2x"></i></a>
      <a class="w-inline-block social" href="http://facebook.com/" title="Join us on Facebook" target="_blank"> <i class="fa  fa-facebook-square fa-2x"></i></a>


      <div class="copyright">
        <div class="copyright-text">{{site.data.global.admin_name}}</div>
      </div>


    </div>

  </nav>
  <!-- end navigation -->
</div>

<div class="section-wrapper">
  <div class="w-nav w-hidden-main responsive-nav" data-collapse="medium" data-animation="over-left" data-duration="400" data-contain="1">
    <div class="w-container">
      <div class="w-nav-brand brand-res">
        <a class="w-inline-block brand res-logo" href="http://delmardesign.cz/" data-ix="move">
          <img src="{{site.baseurl}}/assets/images/logo.png" width="70" alt="">
        </a>
      </div>

      <!-- start responsive navigation -->
      <nav class="w-nav-menu res-menu" role="navigation">
        <div class="navigation">
          <ul id="menu-sidebar-nav-1" class="nav navbar-nav navbar-right w-list-unstyled">
            {% for item in site.data.nav.menu %}
              <li class="menu-item menu-item-type-post_type menu-item-object-page li-nav page-scroll">
                <a class="nav-link" href="{{item.url}}">{{item.text}}</a>
                <div class="sub-nav">{{item.subtext}}</div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </nav>
      <!-- end responsive navigation -->
      <div class="w-nav-button menu-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
