<!-- start navigation -->
<div class="w-hidden-medium w-hidden-small w-hidden-tiny left-navigation" data-ix="hover-out">
  <div class="hamburger" data-ix="hover">
    <div class="ham2">
      <div class="line-1"></div>
      <div class="line-3" data-ix="90-grade"></div>
      <!-- plus to x interaction -->
    </div>
  </div>
  <nav class="menu-wrapper">

    <a class="w-inline-block brand" href="http://delmardesign.cz" data-ix="move">
      <img src="./assets/images/logo.png" width="120" alt="">
    </a>

    <div class="navigation" data-ix="move-2">
      <div class="navigation">
        <ul id="menu-sidebar-nav" class="nav navbar-nav navbar-right w-list-unstyled">
          <li id="menu-item-2303" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-14 current_page_item li-nav menu-item-2303 page-scroll">
            <a class="nav-link" href="#">Portfolio</a>
            <div class="sub-nav">mrkněte se na mou práci</div>
          </li>
          <li id="menu-item-2221" class="menu-item menu-item-type-post_type menu-item-object-page li-nav menu-item-2221 page-scroll">
            <a class="nav-link" href="#">O mě</a>
            <div class="sub-nav">něco si o mě počtěte</div>
          </li>
          <li id="menu-item-2223" class="menu-item menu-item-type-post_type menu-item-object-page li-nav menu-item-2223 page-scroll">
            <a class="nav-link" href="#">Blog</a>
            <div class="sub-nav">co je nového</div>
          </li>
          <li id="menu-item-2220" class="menu-item menu-item-type-post_type menu-item-object-page li-nav menu-item-2220 page-scroll">
            <a class="nav-link" href="#">Kontakt</a>
            <div class="sub-nav">ozvěte se</div>
          </li>
        </ul>
      </div>
    </div>


    <div class="social-ico" data-ix="move" style="display:block">
      <a class="w-inline-block social" href="http://pinterset.com/" title="Follow On Pinterest" target="_blank"> <i class="fa  fa-pinterest-square fa-2x"></i></a>
      <a class="w-inline-block social" href="https://twitter.com/" title="Follow On Twitter" target="_blank"> <i class="fa  fa-twitter-square fa-2x"></i></a>
      <a class="w-inline-block social" href="https://plus.google.com/" title="Follow On Google Plus" target="_blank"> <i class="fa  fa-google-plus-square fa-2x"></i></a>
      <a class="w-inline-block social" href="http://facebook.com/" title="Join us on Facebook" target="_blank"> <i class="fa  fa-facebook-square fa-2x"></i></a>


      <div class="copyright">
        <div class="copyright-text">Jan Delmar</div>
      </div>


    </div>

  </nav>
  <!-- end navigation -->
</div>

<div class="section-wrapper">
  <div class="w-nav w-hidden-main responsive-nav" data-collapse="medium" data-animation="over-left" data-duration="400" data-contain="1">
    <div class="w-container">
      <div class="w-nav-brand brand-res">
        <a class="w-inline-block brand res-logo" href="http://delmardesign.cz/" data-ix="move">
          <img src="./assets/images/logo.png" width="70" alt="">
        </a>
      </div>

      <!-- start responsive navigation -->
      <nav class="w-nav-menu res-menu" role="navigation">
        <div class="navigation">
          <ul id="menu-sidebar-nav-1" class="nav navbar-nav navbar-right w-list-unstyled">
            <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-14 current_page_item menu-item-has-children li-nav menu-item-2303 page-scroll">
              <a class="nav-link" href="#">Portfolio</a>
              <div class="sub-nav">mrkněte se na mou práci</div>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children li-nav menu-item-2221 page-scroll">
              <a class="nav-link" href="#">O mě</a>
              <div class="sub-nav">něco si o mě počtěte</div>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page li-nav menu-item-2223 page-scroll">
              <a class="nav-link" href="#">Blog</a>
              <div class="sub-nav">co je nového</div>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page li-nav menu-item-2220 page-scroll">
              <a class="nav-link" href="#">Kontakt</a>
              <div class="sub-nav">ozvěte se</div>
            </li>
          </ul>
        </div>
      </nav>
      <!-- end responsive navigation -->
      <div class="w-nav-button menu-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
