<div class="mix mix-4 {{ post.filters }}" data-ix="hover-port">
  <a class="w-inline-block tittle-wrapper" href="{{ post.url }}">
    <h4 class="text-port" data-ix="move-up">{{ post.title }}</h4>
    <div class="sub-text" data-ix="move-up-2">{{ post.sub-title }}</div>
  </a>
  <div class="img-wrapper">
    <a href="{{ post.url }}"><img src="{{ post.featured_image }}" class="img-responsive" alt="{{ post.title }}" /></a>

    {% if post.filters contains 'star' %}
      <div class="triangle">
        <div class="left-star">
          <i class="fa fa-star fa-2x"></i>
        </div>
      </div>
    {% endif %}

  </div>
</div>
