{% include header.html %} {% include menu.html %}

<div class="move-wrapper">

  <section class="inner-banner" id="top">
    <div class="w-container fixed-container">
      <div class="algin-center">
        <h1 class="inner-sub" data-ix="move-3" style="opacity: 1; transform: translateX(0px) translateY(0px); transition: opacity 600ms, transform 500ms;"><span>{{ site.data.global.sitename }}</span> | About me</h1>
        <div class="tst-txt tst-ban" data-ix="move-3" style="opacity: 1; transform: translateX(0px) translateY(0px); transition: opacity 600ms, transform 500ms;">{{ site.data.about_me.sub-title }}</div>
      </div>
    </div>
  </section>


  <section style="" class="section">
    <div class="container">
      <div class="row">
        <div class="w-col w-col-12 wpb_column vc_column_container ">
          <div class="wpb_wrapper">
            <div>
              <h4>My skills</h4>
              <div class="line-con" style="border-bottom:1px; border-bottom-style:solid; border-color:#dedede;"></div>
            </div>
            <div class="clearfix col-md-12" style="height: 35px;"></div>
          </div>
        </div>
        <div class="w-col w-col-6 wpb_column vc_column_container ">
          <div class="wpb_wrapper">
            <ul class="w-list-unstyled ">
              {% for skill in site.data.about_me.skills_left %}
              <li class="li-progres">
                <div class="w-clearfix pbar-text">{{ skill.text }} <span class="pbar-percent">{{ skill.percent }} %</span></div>
                <div class="pbar">
                  <div class="pbar-overlay" style="width:{{ skill.percent }}%; " data-ix="progress-bar"></div>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="w-col w-col-6 wpb_column vc_column_container ">
          <div class="wpb_wrapper">
            <ul class="w-list-unstyled ">
              {% for skill in site.data.about_me.skills_right %}
              <li class="li-progres">
                <div class="w-clearfix pbar-text">{{ skill.text }} <span class="pbar-percent">{{ skill.percent }} %</span></div>
                <div class="pbar">
                  <div class="pbar-overlay" style="width:{{ skill.percent }}%; " data-ix="progress-bar"></div>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="clearfix"></div>

  <section style="border-top-width: 1px !important;border-bottom-width: 1px !important;background-color: #f0f1f3 !important;border-top-color: rgba(204,204,204,0.49) !important;border-top-style: solid !important;border-bottom-color: rgba(204,204,204,0.49) !important;border-bottom-style: solid !important;" class="section">
    <div class="container">
      <div class="row">
        <div class="w-col w-col-12 wpb_column vc_column_container ">
          <div class="wpb_wrapper">
            <div>
              <h4>Education</h4>
              <div class="line-con" style="border-bottom:1px; border-bottom-style:solid; border-color:#ebebeb;"></div>
            </div>
            <div class="clearfix col-md-12" style="height: 60px;"></div>

            {% for school in site.data.about_me.education %}
            <div class="w-col w-col-4 wpb_column vc_column_container ">
              <div class="wpb_wrapper">
                <div class="team-wrap align-center"><a class="w-inline-block" href="{{ school.link }}" target="_blank"><img src="{{ school.logo }}" alt="{{ school.school }}"></a>
                  <div class="team-wrapper">
                    <h4 class="icobox-tittle">{{ school.school }}</h4>
                    <div class="step-sub-t">{{ school.field_of_study }} <span class="gray">| {{ school.year }}</span></div>
                    <p><b>Thesis:</b> {{ school.thesis }}</p>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="row">
        <div class="w-col w-col-12 wpb_column vc_column_container ">
          <div class="wpb_wrapper">
            <div>
              <h4>Work experience</h4>
              <div class="line-con" style="border-bottom:1px; border-bottom-style:solid; border-color:#ebebeb;"></div>
            </div>
            <div class="clearfix col-md-12" style="height: 60px;"></div>

            {% for employer in site.data.about_me.work_experience %}
            <div class="w-col w-col-4 wpb_column vc_column_container ">
              <div class="wpb_wrapper">
                <div class="team-wrap align-center"><a class="w-inline-block" href="{{ employer.link }}" target="_blank"><img src="{{ employer.logo }}" alt="{{ employer.employer }}"></a>
                  <div class="team-wrapper">
                    <h4 class="icobox-tittle">{{ employer.employer }}</h4>
                    <div class="step-sub-t">{{ employer.position }} <span class="gray">| {{ employer.year }}</span></div>
                    <p>{{ employer.text }}</p>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </section>

  <section style="border-top-width: 1px !important;border-bottom-width: 1px !important;background-color: #f0f1f3 !important;border-top-color: rgba(204,204,204,0.49) !important;border-top-style: solid !important;border-bottom-color: rgba(204,204,204,0.49) !important;border-bottom-style: solid !important;" class="section vc_custom_1429198421128">
    <div class="container">
      <div class="row">
        <div class="w-col w-col-12 wpb_column vc_column_container ">
          <div class="wpb_wrapper">
            <div>
              <h4>Interests</h4>
              <div class="line-con" style="border-bottom:1px; border-bottom-style:solid; border-color:#ebebeb;"></div>
            </div>
            <div class="clearfix col-md-12" style="height: 60px;"></div>

            {% for interest in site.data.about_me.interests %}
            <div class="w-col w-col-4 wpb_column vc_column_container  vc_custom_1429198912519">
              <div class="wpb_wrapper">
                <div class="ibox-flo ibox-center"><a class="w-inline-block circle-iconbox square-ibox" href="#"><i class="fa fa-{{interest.icon}} fa-2x"></i></a></div>
                <div class="lefttext-icobox centertext-iconbox">
                  <h4 class="icobox-tittle">{{ interest.text }}</h4>
                </div>
              </div>
            </div>
            {% endfor %}

            <div class="clearfix col-md-12" style="height: 60px;"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>

{% include footer.html %}
