{% include header.html %}
{% include menu.html %}

<div class="move-wrapper">

  <section class="inner-banner" id="top">
    <div class="w-container fixed-container">
      <div class="algin-center">
        <h1 class="inner-sub" data-ix="move-3" style="opacity: 1; transform: translateX(0px) translateY(0px); transition: opacity 500ms, transform 500ms;"><span>Flying.</span> Contact</h1>
        <div class="tst-txt tst-ban" data-ix="move-3" style="opacity: 1; transform: translateX(0px) translateY(0px); transition: opacity 500ms, transform 500ms;">Stay in touch with us.</div>
      </div>
    </div>
  </section>


  <section style="padding-top: 80px !important;padding-right: 0px !important;padding-bottom: 0px !important;padding-left: 0px !important;" class="section vc_custom_1429222728421">
    <div class="container">
      <div class="row">
        <div class="w-col w-col-12 wpb_column vc_column_container  vc_custom_1426717026549">
          <div class="wpb_wrapper">
            <div class="wpb_gmaps_widget wpb_content_element">
              <div class="wpb_wrapper">
                <div class="wpb_map_wraper">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96659.9331758349!2d-73.94932830143455!3d40.79230356180245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2f6276f9b5241%3A0x314b7e3a17469b88!2zNzQ2IENvbHVtYnVzIEF2ZSwgTmV3IFlvcmssIE5ZIDEwMDI1LCDQodC_0L7Qu9GD0YfQtdC90ZYg0KjRgtCw0YLQuCDQkNC80LXRgNC40LrQuA!5e0!3m2!1suk!2sua!4v1429222452693"
                  width="600" height="400"></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="clearfix"></div>
  <section style="" class="section">
    <div class="container">
      <div class="row">
        <div class="w-col w-col-8 wpb_column vc_column_container ">
          <div class="wpb_wrapper">
            <div role="form" class="wpcf7" id="wpcf7-f2021-p141-o1" lang="en-US" dir="ltr">
              <div class="screen-reader-response"></div>
              <form action="/projects/flying/contacts/#wpcf7-f2021-p141-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                <div style="display: none;">
                  <input type="hidden" name="_wpcf7" value="2021">
                  <input type="hidden" name="_wpcf7_version" value="4.4">
                  <input type="hidden" name="_wpcf7_locale" value="en_US">
                  <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f2021-p141-o1">
                  <input type="hidden" name="_wpnonce" value="699d7f906c">
                </div>
                <p><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Enter your name"></span>
                  <br>
                  <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Enter your email address"></span>
                  <br>
                  <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Enter your subject"></span>
                  <br>
                  <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea h103 text-area" aria-invalid="false" placeholder="Your message here..."></textarea></span>
                  <br>
                  <input type="submit" value="Submit Message" class="wpcf7-form-control wpcf7-submit"><img class="ajax-loader" src="http://demo.nrgthemes.com/projects/flying/wp-content/plugins/contact-form-7/images/ajax-loader.gif" alt="Sending ..." style="visibility: hidden;"></p>
                <div class="wpcf7-response-output wpcf7-display-none"></div>
              </form>
            </div>
          </div>
        </div>

        <div class="w-col w-col-4 wpb_column vc_column_container ">
          <div class="wpb_wrapper">
            <div>
              <h4>Flying Digital Agency</h4>
              <div class="line-con" style="border-bottom:1px; border-bottom-style:solid; border-color:#ebebeb;"></div>
            </div>
            <div class="clearfix col-md-12" style="height: 35px;"></div>
            <div class="col-md-12 content-head text-left">
              <p><b>Phone:</b> +1 046 244 39 12
                <br>
                <b>Fax:</b> +1 046 244 39 15
                <br>
                <b>Email:</b> email@company.com
                <br>
                <b>Adresse:</b> 350 Fourth Avenue,
                <br> 34th floor New York, USA
                <br>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="clearfix"></div>

</div>

{% include footer.html %}
