{% include header.html %}
{% include menu.html %}

<div class="move-wrapper">

  <section class="inner-banner" id="top">
    <div class="w-container fixed-container">
      <div class="algin-center">
        <h1 class="inner-sub" data-ix="move-3" style="opacity: 1; transform: translateX(0px) translateY(0px); transition: opacity 500ms, transform 500ms;"><span>{{site.data.global.sitename}}</span> | Contact</h1>
        <div class="tst-txt tst-ban" data-ix="move-3" style="opacity: 1; transform: translateX(0px) translateY(0px); transition: opacity 500ms, transform 500ms;">Email me.</div>
      </div>
    </div>
  </section>

  <section style="" class="section">
    <div class="container">
      <div class="row">
        <div class="w-col w-col-8 wpb_column vc_column_container ">
          <div class="wpb_wrapper">
            <div role="form" class="wpcf7" id="wpcf7-f2021-p141-o1" lang="en-US" dir="ltr">
              <div class="screen-reader-response"></div>
              <form action="#" method="post" class="wpcf7-form" novalidate="novalidate">
                <div style="display: none;">
                  <input type="hidden" name="_wpcf7" value="2021">
                  <input type="hidden" name="_wpcf7_version" value="4.4">
                  <input type="hidden" name="_wpcf7_locale" value="en_US">
                  <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f2021-p141-o1">
                  <input type="hidden" name="_wpnonce" value="699d7f906c">
                </div>
                <p><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Your name"></span>
                  <br>
                  <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Your email"></span>
                  <br>
                  <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Subject"></span>
                  <br>
                  <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea h103 text-area" aria-invalid="false" placeholder="Enter here your message..."></textarea></span>
                  <br>
                  <input type="submit" value="Send message" class="wpcf7-form-control wpcf7-submit"></p>
                <div class="wpcf7-response-output wpcf7-display-none"></div>
              </form>
            </div>
          </div>
        </div>

        <div class="w-col w-col-4 wpb_column vc_column_container ">
          <div class="wpb_wrapper">
            <div>
              <h4>{{site.data.global.sitename}}</h4>
              <div class="line-con" style="border-bottom:1px; border-bottom-style:solid; border-color:#ebebeb;"></div>
            </div>
            <div class="clearfix col-md-12" style="height: 35px;"></div>
            <div class="col-md-12 content-head text-left">
                <b>Email:</b> {{site.data.global.admin_email}}
                <br>
                <b>Telephone:</b> {{site.data.global.admin_phone}}
                <br>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="clearfix"></div>

</div>

{% include footer.html %}
