{% include header.html %}

  {% include menu.html %}

<div class="move-wrapper">

  <section style="padding-top: 0px !important;padding-right: 0px !important;padding-bottom: 0px !important;padding-left: 0px !important;" class="section vc_custom_1429186161661 full-section">
    <div class="container">
      <div class="row">
        <div class="w-col w-col-12 wpb_column vc_column_container  vc_custom_1426157103712">
          <div class="wpb_wrapper">
            <div class="col-md-12" id="portfolio">
              <!-- Start Filter -->
              <div class="w-hidden-tiny w-clearfix div-social">
                <div class="filters">
                  <ul class="w-list-unstyled filter-list">
                    <li class="filter-iterm"><a class="filter active" href="#filter" data-filter="*">Vše</a></li>
                    <li class="filter-iterm"><a href="#filter" class="filter" data-filter=".illustration">Ilustrace</a></li>
                    <li class="filter-iterm"><a href="#filter" class="filter" data-filter=".logotype">Logo</a></li>
                    <li class="filter-iterm"><a href="#filter" class="filter" data-filter=".motion">Motion</a></li>
                    <li class="filter-iterm"><a href="#filter" class="filter" data-filter=".print">Tisk</a></li>
                    <li class="filter-iterm"> <a class="w-inline-block filter filter-star" href="#" data-filter=".star"><i class="fa fa-star fa-2x"></i></a></li>
                  </ul>
                </div>
              </div>
              <!-- End Filter -->
              <div class="w-clearfix grid portfolio-grid-wrap" id="Grid">
                <div id="da-thumbs" class="da-thumbs">

                  <div class="mix mix-4 illustration star" data-ix="hover-port">
                    <a class="w-inline-block tittle-wrapper" href="#">
                      <h4 class="text-port" data-ix="move-up">Title</h4>
                      <div class="sub-text" data-ix="move-up-2">Ilustrace</div>
                    </a>
                    <div class="img-wrapper">
                      <a href="#">
                        <img src="./assets/images/portfolio/portfolio-item-1.png" class="img-responsive" alt="Title" />
                      </a>
                      <div class="triangle">
                        <div class="left-star">
                          <i class="fa fa-star fa-2x"></i>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="mix mix-4 motion star" data-ix="hover-port">
                    <a class="w-inline-block tittle-wrapper" href="#">
                      <h4 class="text-port" data-ix="move-up">Title</h4>
                      <div class="sub-text" data-ix="move-up-2">Motion</div>
                    </a>
                    <div class="img-wrapper">
                      <a href="#">
                        <img src="./assets/images/portfolio/portfolio-item-2.png" class="img-responsive" alt="Work Table" />
                      </a>
                      <div class="triangle">
                        <div class="left-star"><i class="fa fa-star fa-2x"></i>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="mix mix-4 logotype " data-ix="hover-port">
                    <a class="w-inline-block tittle-wrapper" href="#"><h4 class="text-port" data-ix="move-up">Title</h4><div class="sub-text" data-ix="move-up-2">Logo</div></a>
                    <div class="img-wrapper">
                      <a href="#"> <img src="./assets/images/portfolio/portfolio-item-3.png" class="img-responsive" alt="Video" /> </a>
                    </div>
                  </div>

                  <div class="mix mix-4 illustration logotype " data-ix="hover-port">
                    <a class="w-inline-block tittle-wrapper" href="#"><h4 class="text-port" data-ix="move-up">Title</h4><div class="sub-text" data-ix="move-up-2">Ilustrace & Logo</div></a>
                    <div class="img-wrapper">
                      <a href="#"> <img src="./assets/images/portfolio/portfolio-item-4.png" class="img-responsive" alt="Throme" /> </a>
                    </div>
                  </div>

                  <div class="mix mix-4 illustration logotype  star" data-ix="hover-port">
                    <a class="w-inline-block tittle-wrapper" href="#"><h4 class="text-port" data-ix="move-up">Title</h4><div class="sub-text" data-ix="move-up-2">Ilustrace & Logo</div></a>
                    <div class="img-wrapper">
                      <a href="#"> <img src="./assets/images/portfolio/portfolio-item-5.png" class="img-responsive" alt="The Logo" /> </a>
                      <div class="triangle">
                        <div class="left-star"><i class="fa fa-star fa-2x"></i></div>
                      </div>
                    </div>
                  </div>

                  <div class="mix mix-4 illustration motion " data-ix="hover-port">
                    <a class="w-inline-block tittle-wrapper" href="#"><h4 class="text-port" data-ix="move-up">Title</h4><div class="sub-text" data-ix="move-up-2">Ilustrace & Motion</div></a>
                    <div class="img-wrapper">
                      <a href="#"> <img src="./assets/images/portfolio/portfolio-item-6.png" class="img-responsive" alt="Tab Slider" /> </a>
                    </div>
                  </div>

                  <div class="mix mix-4 motion " data-ix="hover-port">
                    <a class="w-inline-block tittle-wrapper" href="#"><h4 class="text-port" data-ix="move-up">Title</h4><div class="sub-text" data-ix="move-up-2">Motion</div></a>
                    <div class="img-wrapper">
                      <a href="#"> <img src="./assets/images/portfolio/portfolio-item-7.png" class="img-responsive" alt="Purple Fish" /> </a>
                    </div>
                  </div>

                  <div class="mix mix-4 illustration  star" data-ix="hover-port">
                    <a class="w-inline-block tittle-wrapper" href="#"><h4 class="text-port" data-ix="move-up">Title</h4><div class="sub-text" data-ix="move-up-2">Ilustrace</div></a>
                    <div class="img-wrapper">
                      <a href="#"> <img src="./assets/images/portfolio/portfolio-item-8.png" class="img-responsive" alt="iStrange" /> </a>
                      <div class="triangle">
                        <div class="left-star"><i class="fa fa-star fa-2x"></i></div>
                      </div>
                    </div>
                  </div>

                  <div class="mix mix-4 print  star" data-ix="hover-port">
                    <a class="w-inline-block tittle-wrapper" href="#"><h4 class="text-port" data-ix="move-up">Title</h4><div class="sub-text" data-ix="move-up-2">Tisk</div></a>
                    <div class="img-wrapper">
                      <a href="#"> <img src="./assets/images/portfolio/portfolio-item-9.png" class="img-responsive" alt="Image Stack" /> </a>
                      <div class="triangle">
                        <div class="left-star"><i class="fa fa-star fa-2x"></i></div>
                      </div>
                    </div>
                  </div>

                  <div class="mix mix-4 illustration print " data-ix="hover-port">
                    <a class="w-inline-block tittle-wrapper" href="#"><h4 class="text-port" data-ix="move-up">Title</h4><div class="sub-text" data-ix="move-up-2">Ilustrace & Tisk</div></a>
                    <div class="img-wrapper">
                      <a href="#"> <img src="./assets/images/portfolio/portfolio-item-10.png" class="img-responsive" alt="Icon Line" /> </a>
                    </div>
                  </div>

                  <div class="mix mix-4 illustration  star" data-ix="hover-port">
                    <a class="w-inline-block tittle-wrapper" href="#"><h4 class="text-port" data-ix="move-up">Title</h4><div class="sub-text" data-ix="move-up-2">Ilustrace</div></a>
                    <div class="img-wrapper">
                      <a href="#"> <img src="./assets/images/portfolio/portfolio-item-11.png" class="img-responsive" alt="Harley" /> </a>
                      <div class="triangle">
                        <div class="left-star"><i class="fa fa-star fa-2x"></i></div>
                      </div>
                    </div>
                  </div>

                  <div class="mix mix-4 motion " data-ix="hover-port">
                    <a class="w-inline-block tittle-wrapper" href="#"><h4 class="text-port" data-ix="move-up">Title</h4><div class="sub-text" data-ix="move-up-2">Motion</div></a>
                    <div class="img-wrapper">
                      <a href="#"> <img src="./assets/images/portfolio/portfolio-item-12.png" class="img-responsive" alt="Gallery" /> </a>
                    </div>
                  </div>

                  <div class="mix mix-4 print  star" data-ix="hover-port">
                    <a class="w-inline-block tittle-wrapper" href="#"><h4 class="text-port" data-ix="move-up">Title</h4><div class="sub-text" data-ix="move-up-2">Tisk</div></a>
                    <div class="img-wrapper">
                      <a href="#"> <img src="./assets/images/portfolio/portfolio-item-13.png" class="img-responsive" alt="Flat Mountain" /> </a>
                      <div class="triangle">
                        <div class="left-star"><i class="fa fa-star fa-2x"></i></div>
                      </div>
                    </div>
                  </div>

                  <div class="mix mix-4 illustration  star" data-ix="hover-port">
                    <a class="w-inline-block tittle-wrapper" href="#"><h4 class="text-port" data-ix="move-up">Title</h4><div class="sub-text" data-ix="move-up-2">Ilustrace</div></a>
                    <div class="img-wrapper">
                      <a href="#"> <img src="./assets/images/portfolio/portfolio-item-14.png" class="img-responsive" alt="Dog" /> </a>
                      <div class="triangle">
                        <div class="left-star"><i class="fa fa-star fa-2x"></i></div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="clearfix"></div>

</div>

{% include footer.html %}
