{% include header.html %}
{% include menu.html %}

<div class="move-wrapper">

  <section class="inner-banner" id="top">
    <div class="w-container fixed-container">
      <div class="algin-center">
        <h1 class="inner-sub" data-ix="move-3" style="opacity: 0; transform: translateX(0px) translateY(0px); transition: opacity 600ms, transform 500ms;"><span>{{ site.data.global.sitename }}</span> {{ page.title }}</h1>
        <div class="tst-txt tst-ban" data-ix="move-3" style="opacity: 0; transform: translateX(0px) translateY(0px); transition: opacity 600ms, transform 500ms;">{{ page.sub-title }}</div>
      </div>
    </div>
  </section>

  <section class="section single-portfolio-section">
    <div class="w-container">

      <div class="w-row portfolio-top-nav">
          <div class="w-col w-col-4 col-left">
            <div class="btn-spc"><a href="{{ page.previous_in_category.url }}" rel="prev"><span class="button btn-md"><span class="arrow">&lt;</span>Next project</span></a></div>
          </div>
        <div class="w-col w-col-4 col-center">
          <div class="btn-spc"><a class="button btn-md" href="/" title="All Project" target="_self">Back to portfolio</a></div>
        </div>
          <div class="w-col w-col-4 col-right">
            <div class="btn-spc"><a href="{{ page.next_in_category.url }}" rel="next"><span class="button btn-md">Previous project<span class="arrow a-nxt">&gt;</span></span></a></div>
          </div>
      </div>

      <div class="div-spc spc">
        <section style="padding-top: 40px !important;padding-bottom: 0px !important;" class="section vc_custom_1429367713608">
          <div class="container">
            <div class="row">
              <div class="w-col w-col-12 wpb_column vc_column_container ">
                <div class="wpb_wrapper">
                  <div class="w-slider-tabs w-tabs  slider-tab-section-0" data-duration-in="300" data-duration-out="100">
                    <div class="w-tab-content">
                      {% for image in page.images %}
                      <div class="w-tab-pane">
                        <div><img src="{{ image.link }}" alt="photo-tab">
                          {% if image.caption %}
                            <div class="caption-t" data-ix="caption-tab" style="opacity: 0; transform: translateX(-20px) translateY(0px);">{{ image.caption }}</div>
                          {% endif %}
                        </div>
                      </div>
                      {% endfor %}
                    </div>

                    <div class="w-tab-menu w-clearfix">
                      {% for image in page.images %}
                        <a class="w-tab-link w-inline-block slider-tab" style="background-image:url({{ image.link }});"></a>
                      {% endfor %}
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="clearfix"></div>

        <section style="padding-top: 40px !important;padding-bottom: 0px !important;" class="section vc_custom_1429366134986">
          <div class="container">
            <div class="row">
              <div class="w-col w-col-12 wpb_column vc_column_container ">
                <div class="wpb_wrapper">
                  <div class="vc_wp_text wpb_content_element">
                    <div class="widget widget_text">
                      <div class="textwidget">
                        {{ content }}
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="clearfix"></div>

        <section style="padding-top: 40px !important;padding-bottom: 20px !important;" class="section vc_custom_1429365418434">
          <div class="container">
            <div class="row">
              <div class="w-col w-col-4 wpb_column vc_column_container ">
                <div class="wpb_wrapper">
                  <div>
                    <h4>Features</h4>
                    <div class="line-con" style="border-bottom:1px; border-bottom-style:solid; border-color:#ebebeb;"></div>
                  </div>
                  <div class="clearfix col-md-12" style="height: 30px;"></div>
                  <div class="col-md-12 content-head text-left">
                    <p>{{ page.skills }}</p>
                  </div>
                </div>
              </div>

              {% if page.client %}
                <div class="w-col w-col-4 wpb_column vc_column_container ">
                  <div class="wpb_wrapper">
                    <div>
                      <h4>Client</h4>
                      <div class="line-con" style="border-bottom:1px; border-bottom-style:solid; border-color:#ebebeb;"></div>
                    </div>
                    <div class="clearfix col-md-12" style="height: 30px;"></div>
                    <div class="col-md-12 content-head text-left">
                      <p>{{ page.client }}</p>
                    </div>
                  </div>
                </div>
                {% if page.client_url %}
                <div class="w-col w-col-4 wpb_column vc_column_container ">
                  <div class="wpb_wrapper">
                    <div class="btn-spc"><a href="{{ page.client_url }}" class="button btn-medium btn-line" target="_blank">{{ page.client }}</a></div>
                  </div>
                </div>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </section>
        <div class="clearfix"></div>

      </div>
    </div>
  </section>

</div>

{% include footer.html %}
