{% include header.html %}
{% include menu.html %}

<div class="move-wrapper">

  <section style="padding-top: 0px !important;padding-right: 0px !important;padding-bottom: 0px !important;padding-left: 0px !important;" class="section vc_custom_1429186161661 full-section">
    <div class="container">
      <div class="row">
        <div class="w-col w-col-12 wpb_column vc_column_container  vc_custom_1426157103712">
          <div class="wpb_wrapper">
            <div class="col-md-12" id="portfolio">

              {% include filter.html %}

              <div class="w-clearfix grid portfolio-grid-wrap" id="Grid">
                <div id="da-thumbs" class="da-thumbs">

                  {% for post in site.categories.portfolio %}
                    {% include portfolio-item.html %}
                  {% endfor %}

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="clearfix"></div>

</div>

{% include footer.html %}
